.sidebar {
  left: 0;
  top: 0;
  padding-left: 1rem;
  width: 16rem;
  background-color: #2F7158;
  color:#f0dbe3;
  position: fixed;
  height: 100%;
}

a {
  color:#f0dbe3;
  text-decoration: none;
}

.links a {
  display: block;
  padding: 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr, 1fr;
    grid-template-areas: 
        ". ."
        "output1 output1"
        ". .";
    margin-left: 16rem;
    padding: 1rem 1rem;
    justify-items: center;
}

.dropdown {
    width: 16rem;
}

.graph {
    grid-area: output1;
    width: 100%;
    padding: 2rem;
}

.table {
  grid-area: output1;
  width: 80%;
  padding: 2rem;
}